body{
    background-color: #333;
    color: #fff;
}

.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

#home-section{
    background: url("https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
}

.home-inner{
    padding-top: 120px;
}

.card-form{
    opacity: 0.8;
}

#home-section .fa{
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

#explore-section .fa{
    color: white;
    background: #333333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

#create-section .fa{
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}