.jumbotron {
    background: url("https://images.pexels.com/photos/1181772/pexels-photo-1181772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding-top: 400px;
}
.float-right{
    margin-top: -25px;
}